//* Fonts
$font__normal: 'Poppins', sans-serif;

//* Colors
$color__main--dark: #2a2a2a;
$color__gray--light-1: #f3f3f3;
$color__gray--light-2: #a2a2a2;
$color__orange: #f2a622;
$color__pink: #ef1a6b;
$color__green--light: #22f2a4;